*{
  margin: 0 0 ;
  padding: 0 0  ;
  font-family: 'Inter' sans-serif;
}
body{
    font-family: 'Inter',sans-serif;
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.head img{
  max-width: 120px;
}
.head a {
  color: white;
  text-decoration: none;
}
.head .images_logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 20%; */

}
.head .links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
 
}
.head .buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 20%; */
  gap: 10px;
}
.head .buttons #btn1{
  background-color: #26251E;
  color: #F7F7F4;
  border-radius: 20px;
  padding: 5px 15px;
  border-color: white;
}
.head .buttons #btn2{
  background-color:#F7F7F4;
  color: #26251E;
  border-radius: 20px;
  padding: 5px 15px;
  border-color: white;
}
.heading1{
  display: flex;
  justify-content:left;
  /* align-items:end */
  padding-top: 100px;
}
.heading1 #head{
  color: #F7F7F4;
  font-weight: 400;
}
.dwn{
   padding-top: 20px;
}
.dwn button{
  display: flex;
  justify-content:left;
  align-items:end;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 20px;
} 
.cursor-img{
  display: flex;
  justify-content:left;
  align-items:end;
  padding-top: 60px;
}
.cursor-img img{
  max-width: 140vh;
  border-radius: 10px;
}
.tagline  {
  display: flex;
  justify-self: center;
  align-items: center;
  padding-top: 80px;
} 
.tagline p{
  color: #F7F7F4;
} 
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
}
.banner h2{
  color: #F7F7F4;
  background-color: #26251E;
  padding: 30px 60px;
  border-radius: 10px;
}
